@import '../classes.scss';
@import '../tokens.scss';

.inline-edit {
  input, textarea {
    background-color: transparent;
    border: 0;
    padding: 0;
    resize: none;
    width: 100%;
  }

  input:hover, textarea:hover {
    cursor: pointer;
  }

  input:focus, textarea:focus {
    border: 1px $black solid;
    outline: none;
    padding: 3px;
  }
}