@import '../classes.scss';

.menu-item-card {
  background-color: $white;
  border: 1px $black solid;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 150px;
  padding: 10px 20px;
  width: 100%;

  @media only screen and (min-width: $desktop) {
    width: 550px;
  }

  &__left-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;

    @media only screen and (min-width: $desktop) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  &__description {
    textarea {
      @include body-reg;
    }

    &.gray {
      textarea {
        color: $slate-gray;
      }
    }
  }

  &__button-container {
    display: flex;
    margin-top: 10px;
  }

  &__remove-button {
    @include body-reg;  
    border: none;
    border-radius: 5px;
    background: transparent;
    color: $red;
    cursor: pointer;
    display: flex;
    height: 20px;
    margin-right: 10px;
    padding: 0;
    width: 43px;
  }

  &__edit-button {
    @include body-reg;  
    border: none;
    border-radius: 5px;
    background: transparent;
    color: $slate-gray;
    cursor: pointer;
    display: flex;
    height: 20px;
    padding: 0;
    width: 43px;
  }

  &__right-container {
    display: flex;
    width: 30px;

    @media only screen and (min-width: $desktop) {
      width: 50px;
    }
  }

  &__title {
    input {
      @include header-reg;
    }
  }
  
  &__image {
    height: 100%;
    object-fit: cover;
    width: 100px;

    @media only screen and (min-width: $desktop) {
      width: 125px;
    }
  }

  img:hover {
    cursor: pointer;
  }

  &__image-input {
    input {
      @include body-reg;
    }
  }

  &__price {
    @include body-reg;
    font-weight: 700;

    input {
      @include body-reg;
      font-weight: 700;
    }
  }
}
